<h1 class="text-2xl mb-4 font-medium text-slate-600 text-center">Add New Book</h1>

<form 
    action="/books" 
    method="POST" 
    class="bg-white shadow-sm max-w-3xl mx-auto p-5 rounded-md mb-6"> 
    <%- include('_form_fields.ejs') %>    
</form>