<div>
    <a href="/books/<%= id %>" 
        class="flex rounded-lg items-center justify-center p-8 bg-white shadow-sm shadow-slate-100" 
        style="min-height: 321px">
        <img src="<%= image %>" class="object-cover shadow-xl hover:-translate-y-1 duration-300" height="250" width="200">
    </a>
    <div class="text-center text-slate-600 py-3 font-medium">
        <%= title %> 
    </div>
</div>