<form method="POST" action="<%= url %>?_method=DELETE">
    <button 
        type="submit" 
        class="p-1 text-xs md:text-sm bg-red-400 rounded-md 
        text-white px-2 ml-2 md:ml-4 hover:bg-red-500 ">Delete</button>
</form>