<header class="bg-white shadow-sm" >
    <nav class="px-8 py-5 block md:flex align-middle justify-between max-w-6xl mx-auto text-center md:text-start">
        <a href="/" class="text-2xl uppercase font-bold text-sky-900 ">Mybrary</a>
        <ul id="navLinks" class="flex justify-center md:justify-start text-sm md:text-lg mt-5 md:mt-0 font-medium text-gray-400 ">
            <li cls><a href="/authors" class="p-3 hover:text-cyan-800">Authors</a></li>
            <li><a href="/authors/new" class="p-3 hover:text-cyan-800">Add Authors</a></li>
            <li><a href="/books" class="p-3 hover:text-cyan-800">Books</a></li>
            <li><a href="/books/new" class="p-3 hover:text-cyan-800">Add Books</a></li>
        </ul>
    </nav>
</header>