<h1 class="text-2xl mb-10 font-medium text-slate-600">Recently Added</h1>

<div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
    <% books.forEach( book => { %>

        <%- include('partials/bookCard.ejs', {
            id: book.id,
            image: book.coverImagePath,
            title: book.title
        }) %> 

    <% } ) %> 
</div>